extends ../layout/application

block meta
	title Techloaf Prelauncher
	
block content
	section#main.text-center
		.cover
			h1.cover-title. 
				It's
				<span> Techloaf </span>
				Time!
			h2.cover-subtitle You wanna loaf with the big boys? Start here

			#form-wrapper
				form#new_user.form-horizontal(method="post", action="/subscribers")

					if referrer_id
						input(name="subscriber[referrer_id]", type="hidden", value= referrer_id)

					.form-group
						input.form-control(name="subscriber[email]", type="email", placeholder="Who do you wanna spam?", required=true, autofocus=true)
					.form-group
						input.btn.btn-branded(type="submit", value="Feel the yeast rise")

			#contact_icons
				ul.contact-socials
					li
						a.foo_social.ico-facebook(href="#", title="Techloaf in Facebook")
							i.fa.fa-facebook
					li
						a.foo_social.ico-twitter(href="#" title="Techloaf in Twitter")
							i.fa.fa-twitter
					li
						a.foo_social.ico-google-plus(href="#", title="Techloaf Google+ (too bad no one uses that!)")
							i.fa.fa-google-plus

			footer

				a(href="https://techloaf.io", title="Home Base") techloaf.io

		
