extends ../layout/application

block meta
	title Techloaf Prelauncher
	meta(content="Techloaf Prelauncher Campaign", property="description")

block content
	section#refer
		.cover-bg

		.col-md-5.col-md-offset-1.col-sm-6.hidden-xs.refer-center

		.col-md-5.col-md-offset-1.col-sm-6.hidden-xs.refer-left
			img(src='https://i0.wp.com/www.techloaf.io/wp-content/uploads/2018/01/Website-Logo-e1517179678294.png?fit=320%2C80&ssl=1')
		.col-md-5.col-sm-6.col-xs-12
			article
				h2 Share TechLoaf and Earn that bread, you dirty whore!
			input.form-control(value= subscriber.referralURL())

			#social-sharing
				ul

							
	aside.text-center#instructions
		h4 Here's how much we value you:


	#prizes
		.prize_name Friends joined
		.prize_number Your prize


		.fakeprogressbar
		.prizes
			.progressbar(style= ("width: " + subscriber.calculateProgress(prizes) + "%"))
			if prizes.length > 0
				each prize in prizes
					.prize(style= "width: #{100/prizes.length}%")
						span.prize-number= prize.number_of_referrals
						p.prize-name= prize.name

						if prize.image
							img(src=prize.image)

	#friends_joined.text-center
		p 
			span
				= subscriber.number_of_referrals 
				= subscriber.number_of_referrals == 1 ? " friend " : " friends " 
			= subscriber.number_of_referrals == 1 ? " has " : " have " 
			| joined so far.
		small Keep checking..
